[user]
	name = Patrick McKinnon
	email = patrick@mapmojo.com

[diff]
  tool = vimdiff
  #external = /Users/patrick/.git-diff-wrapper.sh

[difftool]
  prompt = false
[color]
	ui = auto
[branch]
	autosetupmerge = true
